h2 {
    font-size: 35px;
    font-weight: 300;
    font-family: $font-secondary;
    text-transform: uppercase;
    text-align: center;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem;
    text-align: center;
    
    &__picture {}
  
    &__description {
      color: $color-very-dark-gray;
      line-height: 26px;
      max-width: 90%;
      margin: 0 auto;
  
    }
  }
  
  .img-interactive {
    width: auto;
    max-width: 95%;
    height: auto;
    margin-bottom: 1rem;
  }